html
  head
    title Log in
  body
    form(method="POST" action="/login")
      input#username(type="text", name="username", placeholder="Your username")
      input#password(type="password", name="password", placeholder="Your password")
      input(type="submit")
