html
  head
    style 
      include css/forms.css
  body
     div
       form(method="POST" action="/registration")
         label(for='email') Email
         input#email(type="text", name="email", placeholder="email")
         label(for='username') Login
         input#username(type="text", name="username", placeholder="Your login")
         label(for='password') Password
         input#username(type="text", name="password", placeholder="Your password")
         input#signUp(type='submit', value='Submit') 
         
